@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*---------- root variáveis -----------*/
:root {
  /*---------- Colors -----------*/
  --color-primary: #0077b6;
  --color-danger: #ff7782;
  --color-danger-alt: #023e8a;
  --color-sucess: #3bd4a1;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #2838b1;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  /*---- Borders Radius ----*/
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  /*------- Padding ------*/
  --card-padding: 1.8rem;
  --padding: 1.2rem;

  /*---------- Shadow -----------*/
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/*---------- Colors Dark Theme-----------*/
.dark-theme-variables {
  --color-background: #292d33;
  --color-white: #202528a9;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0 4);
  --box-shadow: 0 2rem 3rem var(var(--color-light));
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;

  appearance: none;
  text-decoration: none;
  list-style: none;

  box-sizing: border-box;
}

/*------------------- Base ----------------*/

img {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

a {
  color: var(--color-dark);
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

samll {
  font-size: 0.75rem;
}

.profile-photo {
  width: 3rem;
  height: 3rem;
  clip-path: circle();
  overflow-x: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variadangert);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.warning {
  color: var(--color-warning);
}

.sucess {
  color: var(--color-sucess);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

aside {
  height: 100vh;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  align-items: center;
  gap: 0.88rem;
}

aside .logo img {
  width: 1.5rem;
  height: 1.5rem;
}

/*------- Sidebar -------*/

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}
aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  margin-left: 2rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a .message-count {
  font-size: 0.75rem;
  background: var(--color-danger);
  padding: 0.15rem 0.5rem;
  border-radius: var(--border-radius-1);
  color: var(--color-white);
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: '';
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

/*------- toggle -------*/

#close {
  opacity: 0;
  visibility: hidden;
}

/*------- Main ----------*/

main {
  margin-top: 1.5rem;
}

main {
  display: inline-block;
}

.right {
  margin-top: 1.5rem;
}
.right .top {
  display: flex;

  justify-content: end;
  gap: 2rem;
}

.right .top button {
  display: none;
}

.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
}

.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

/*--------------- Recent updates ---------------*/

main .recent-updates {
  margin-top: 1rem;
}

main .recent-updates h2 {
  margin: 2rem;
}

main .recent-updates .title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0.25rem;
}

main .recent-updates .show-all {
  position: absolute;
  left: 43%;

  margin-top: 2rem;
  color: var(--color-primary);

  padding: 0.5rem 1rem;
  border: 0.05rem solid var(--color-background);

  transition: all 300ms ease;
}

main .recent-updates .show-all:hover {
  border: 0.05rem solid var(--color-primary);
  border-radius: 5rem;
}

main .recent-updates .updates {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

main .recent-updates .updates .update {
  background: var(--color-white);

  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);

  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;

  transition: all 300ms ease;
}

main .recent-updates .updates .update:hover {
  box-shadow: none;
  border: 0.02rem solid var(--color-primary);
}

main .recent-updates .updates .update .profile-photo {
  cursor: pointer;
}

main .recent-updates .updates .update .message b {
  margin-right: 0.15rem;
}

/*--------- Media Queries - Tablet ----------*/

@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside .logo {
    display: none;
  }

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }

  main .recent-updates .updates {
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .recent-updates .show-all {
    left: 32%;
  }
}

/*--------- Media Queries - Mobile ----------*/

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: var(--box-shadow);
    height: 100vh;
    padding-right: var(--card-padding);

    display: none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 2.5rem;
    display: flex;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  #close {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .recent-updates .updates .update:hover {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  main .recent-updates .show-all {
    left: 40%;
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 70%;
  }

  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1.5rem;
  }

  .right .top button span {
    font-size: 2rem;
  }
}
